.placa {
    background: #f1f1f1;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 4rem;
    margin: 4px;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.www {
    display: flex;
    justify-items: center;
}
